
            /************ Nice Select CSS ************/
            :root {
                /* ----------- Colors ----------- */
                --list-bg-color: #ffffff;
                --list-text-color: #000;
                /* Use "inherit" to take on parent text color */
                --list-text-color-hover: inherit;
                /* Add your hex code here for the hover text color on the list option/item */
                --current-field-text-color: inherit;
                /* Add hex code for selected option text color in the field itself */
                --select-field-arrow-color: #fff;
                /* This is the select field arrow color */
                --border-color-active: #e6e6e6;
                /* Active State */
                --border-color-hover: #e6e6e6;
                /* Select Field could be the same as your form field border color */
                --list-item-bg-color: #e6e6e6;
                /* Select Field Hover/Focus State */
                /* ----------- Spacing ----------- */
                --list-padding-top-bottom: 0;
                /* This is the top and bottom padding for the dropdown list */
                --list-max-height: auto;
                /* You can set this to "Auto" as well */
                --list-item-padding-left: 1.6rem;
                --list-item-padding-right: 1.6rem;
                --list-item-min-height: 4.4rem;
                /* This is the height of each list item in the dropdown */
                --list-item-line-height: 4.4rem;
                /* This is the height of each list item in the dropdown */
                /* ^^^  Make sure both "line-height" and "min-height" are the same! ^^^  */
            }

            /************ END OF CUSTOM VALUES ************/
            select.select {
                display: block !important;
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }

            .nice-select {
                line-height: 1.2;
                line-height: inherit;
                font-size: 16px !important;
                display: flex;
                align-items: center;
                font-weight: inherit;
                background-color: inherit;
                color: #FFF;
                transition: border-color 300ms cubic-bezier(.455, .03, .515, .955), color 300ms cubic-bezier(.455, .03, .515, .955);
            }

            .nice-select:hover {
                border-color: #999999;
            }

            .nice-select:active, .nice-select.open, .nice-select:focus {
                border-color: #999999;
            }

            .nice-select:after {
                content: '';
                background-image: url("https://cdn.prod.website-files.com/62c6f0db8f3bd1cd89369e11/6371217ab73c8d25eb786111_arrow-select.svg");
                background-size: cover;
                display: block;
                height: 1.6rem;
                width: 1.6rem;
                pointer-events: none;
                position: absolute;
                right: 1em;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                -webkit-transition: all 0.15s ease-in-out;
                transition: all 0.15s ease-in-out;
            }

            .nice-select.open:after {
                -webkit-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }

            .nice-select.open .list {
                opacity: 1;
                pointer-events: auto;
                -webkit-transform: scale(1) translateY(0);
                -ms-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
            }

            .nice-select.disabled {
                border-color: #ededed;
                color: #999;
                pointer-events: none;
            }

            .nice-select.disabled:after {
                border-color: #cccccc;
            }

            .nice-select.wide {
                width: 100%;
            }

            .nice-select.wide .list {
                left: 0 !important;
                right: 0 !important;
            }

            .nice-select.right {
                float: right;
            }

            .nice-select.right .list {
                left: auto;
                right: 0;
            }

            .nice-select.small {
                font-size: 18px;
                height: 4.8rem;
                line-height: 34px;
            }

            .nice-select.small:after {
                height: 4px;
                width: 4px;
            }

            .nice-select.small .option {
                line-height: 34px;
                min-height: 34px;
            }

            .nice-select .list {
                background-color: var(--list-bg-color);
                color: var(--list-text-color);
                border-radius: 5px;
                box-shadow: 0 7px 20px 0px rgba(68, 68, 68, 0.11);
                border-color: 3px solid #ededed;
                box-sizing: border-box;
                margin-top: 4px;
                opacity: 0;
                overflow: hidden;
                padding: var(--list-padding-top-bottom) 0px;
                pointer-events: none;
                position: absolute;
                top: 100%;
                left: 0;
                overflow-y: scroll;
                overflow-x: hidden;
                max-height: var(--list-max-height);
                -webkit-transform-origin: 50% 0;
                -ms-transform-origin: 50% 0;
                transform-origin: 50% 0;
                -webkit-transform: scale(0.75) translateY(-21px);
                -ms-transform: scale(0.75) translateY(-21px);
                transform: scale(0.75) translateY(-21px);
                -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
                transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
                z-index: 9;
                width: 100%;
            }

            .nice-select .list:hover .option:not(:hover) {
                background-color: transparent !important;
            }

            .nice-select .option {
                cursor: pointer;
                font-weight: 400;
                line-height: var(--list-item-line-height);
                letter-spacing: 0.1em;
                list-style: none;
                font-size: 1.4rem;
                background-image: none;
                min-height: var(--list-item-min-height);
                outline: none;
                padding-left: var(--list-item-padding-left);
                padding-right: var(--list-item-padding-right);
                text-align: left;
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
            }

            .nice-select .option:first-child {
                display: none;
            }

            .nice-select .option:last-child {
                margin-bottom: 0;
            }

            span.current {
                color: var(--current-field-text-color);
            }

            .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
                background-color: var(--list-item-bg-color);
                color: #000000;
            }

            .nice-select .option:hover {
                color: var(--list-text-color-hover);
            }

            .nice-select .option.disabled {
                background-color: transparent;
                color: #999;
                cursor: default;
            }

            .no-csspointerevents .nice-select .list {
                display: none;
            }

            .no-csspointerevents .nice-select.open .list {
                display: block;
            }

            @media screen and (max-width: 991px) and (min-width: 768px) {
                .nice-select {
                    font-size: 2rem;
                }
            }

            @media screen and (max-width: 767px) {
                .nice-select {
                    font-size: 1.8rem;
                    height: 4.8rem;
                }
            }
