/* reveal.css */

.mobile-reveal_row {
    opacity: 0;
    transition: opacity 0.6s ease-out;
    display: none; /* initially hidden */
  }
  
  .mobile-reveal_row.active {
    display: block;
    opacity: 1;
  }
  
  body .transition {
    display: block;
  }
  
  .w-editor .transition {
    display: none;
  }
  
  .no-scroll-transition {
    overflow: hidden;
    position: relative;
  }
  